<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: page_head('오이 마켓', 'none')" />
<body>
<div class="container-fluid text-center">
	<div th:replace="navigation :: menu"></div>
	<div>
		<h2>로그인</h2>
	</div>

	<div class="mt-3">
		<a class="btn btn-lg btn-secondary fab fa-google" th:href="@{/oauth2/authorization/google}">&nbsp;&nbsp;구글 로그인</a>
	</div>

	<div class="mt-3">
		<a class="btn btn-lg btn-secondary fab fa-facebook" th:href="@{/oauth2/authorization/facebook}">&nbsp;&nbsp;페이스북 로그인</a>
	</div>

	<div>&nbsp;</div>

	<form th:action="@{/login}" method="post" style="max-width: 350px; margin: 0 auto">
		<div th:if="${param.error}">
			<p class="text-danger">[[${session.SPRING_SECURITY_LAST_EXCEPTION.message}]]</p>
		</div>
		<div th:if="${param.logout}">
			<p class="text-warning">로그아웃했습니다.</p>
		</div>

		<div class="border border-secondary rounded p-3">
			<p>
				<input type="email" name="username" class="form-control" placeholder="이메일" required />
			</p>
			<p>
				<input type="password" name="password" class="form-control" placeholder="패스워드" required />
			</p>
			<p>
				<input type="checkbox" name="remember-me" />&nbsp;로그인 기억하기
			</p>
			<p>
				<input type="submit" value="로그인" class="btn btn-primary" />
			</p>
		</div>
	</form>

	<div>&nbsp;</div>
	<div>
		또는 <a th:href="@{/forgot_password}">패스워드를 잊어버렸습니다.</a>
	</div>
	<div>
		계정이 없습니까? <a th:href="@{/register}"><b>회원가입하기</b></a>
	</div>
	<div>&nbsp;</div>

	<div th:replace="navigation :: footer"></div>
</div>
</body>
</html>